// Add our overrides as necessary
{
  "extends": "airbnb-base",
  "rules": {
    "object-shorthand": 0,
    "arrow-body-style": 0,
    "func-names": 0,
    "newline-per-chained-call": 0,
    "no-prototype-builtins": 0,
    "import/no-named-as-default-member": 0,
    "import/no-extraneous-dependencies": 0,
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "no-param-reassign": "off"
  }
}
