// Add our overrides as necessary
{
  "extends": "eslint-config-es5",
  "rules": {
    "one-var": "off",
    "object-curly-spacing": [2, "never"],
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "no-confusing-arrow": 0,
    "prefer-rest-params": 0,
    "no-use-before-define": 0,
    "wrap-iife": 0,
    "eqeqeq": 0,
    "no-proto": 0,
    "no-cond-assign": 0,
    "func-names": 0
  }
}
